
@{
    ViewData["Title"] = "Play Roundabout";
}

<h1>Roundabout</h1>

<h2 id="joinCode"></h2>

<p id="playerList"></p>

<br />

<button id="playButton">Start Game</button>
<p id="playTimer"></p>

<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/host/roundabout.js"></script>

