
@{
    ViewData["Title"] = "Play Roundabout";
}

<h1>Roundabout</h1>

<p id="joinCode"></p>

<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/host/roundabout.js"></script>

