
@{
    Layout = "~/Views/Shared/_BlankLayout.cshtml";
    ViewData["Title"] = "Play Roundabout";
}

@section Styles {
    <link rel="stylesheet" href="~/@ViewData["StyleSrc"]" />
}

@section Scripts {
    <script type="module" src="~/@ViewData["ScriptSrc"]"></script>
}

<div class="background"></div>

<p>Roundabout</p>

<div id="player-count"></div>

<div id="join-code"></div>

<p id="player-list"></p>

<br />

<button id="play-button">Start Game</button>
<p id="play-timer"></p>

