
@{
    ViewData["Title"] = "Play Roundabout";
}

<h1>Roundabout</h1>

<h2 id="join-code"></h2>

<p id="player-list"></p>

<br />

<button id="play-button">Start Game</button>
<p id="play-timer"></p>

<script src="~/@ViewData["ScriptSrc"]"></script>

