
.dialog-back {

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000050;
    color: whitesmoke;
    font: inherit;

    .dialog-box {

        position: fixed;
        top: 10%;
        left: 5%;
        width: 90%;
        height: 80%;
        background-color: gray;
        border: 2px solid black;
        border-radius: 12px;
        font-size: 3vmin;

        .dialog-flex {

            display: flex;
            flex-direction: column;
            position: relative;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

            .dialog-title {
                font-family: inherit;
                font-weight: bold;
                font-size: 2.5em;
                flex: 0 0 auto;
                margin: 12px;
                text-align: center;
            }

            .dialog-content {
                font-family: inherit;
                overflow-y: auto;
                min-height: 0;
                font-size: 1em;
                flex: 1 1 auto;
                margin: 12px;
            }

            .dialog-buttons-row {

                width: 100%;
                margin: 0;
                display: flex;
                flex-direction: row;

                .dialog-button {
                    font-family: inherit;
                    border: 2px solid black;
                    font-size: 2.5em;
                    flex: 0 0 auto;
                    cursor: pointer;
                    padding: 6px;
                    margin: 6px;
                    border-radius: 12px;
                    flex: 1 1 auto;
                }

            }

        }
    }
}