
@{
    ViewData["Title"] = "Roundabout";
}

<h1>Roundabout</h1>

<p>You&apos;re in!</p>

<div id="joinCodeData" data-code="@ViewData["joinCode"]"></div>
<div id="playerNameData" data-name="@ViewData["playerName"]"></div>
<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/join/joinCommon.js"></script>
<script src="~/js/join/roundabout.js"></script>

