
@{
    Layout = "~/Views/Shared/_BlankLayout.cshtml";
    ViewData["Title"] = "Roundabout";
}

@section Styles {
    <link rel="stylesheet" href="~/@ViewData["StyleSrc"]" />
}

@section Scripts {
    <script type="module" src="~/@ViewData["ScriptSrc"]"></script>
}

<div class="background"></div>

<div id="lobby-screen" class="screen">
	<p id="lobby-msg">Connecting...</p>
</div>

<div id="choice-screen" class="screen">
	<p id="choice-msg">Choose your secret word!</p>
	<br />
	<input type="text" id="choice-input" />
	<button id="choice-submit">Submit</button>
</div>

<div id="chosen-screen" class="screen">
	<p id="chosen-msg"></p>
</div>

<div id="end-screen" class="screen">
	<p id="end-msg"></p>
</div>

<div id="join-code-data" data-code="@ViewData["joinCode"]"></div>
<div id="player-name-data" data-name="@ViewData["playerName"]"></div>

